<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  {% include head.html %}
</head>
<body>

<div class="site">
  <div class="title">
    <a class="main-title" href="/">Grenade Sandwich</a>
    <span class="subtitle">Explosive thoughts on code, music and life by <a href="/about-site/">Steven Merrill</a></span>
  </div>

  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about-site.html">About the Site</a></li>
      <div class="clear"></div>
    </ul>
  </div>

  <div id="content">
    {{ content }}
  </div>

  {% include footer.html %}
</body>
</html>
